[submodule "buildroot"]
	path = software/buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "thingyjp-buildroot"]
	path = software/thingyjp-buildroot
	url = https://github.com/thingyjp/thingyjp-buildroot.git
[submodule "flasher-buildroot"]
	path = software/flasher-buildroot
	url = https://github.com/buildroot/buildroot.git
